
@{
    ViewBag.Title = "¡Guardado!";
}



<div class="container contact-form">
    <div class="class=" container contact-form"">
        <div class="contact-image">
            <img src="~/Images/logo2_r.png" alt="wifi_logo" />
        </div>
    </div>
    <form>
        <h3>¡Se han guardado los datos con éxito!</h3>
    </form>
</div>


