
@{
    ViewBag.Title = "Nuestros Clientes";
}
<div>
    <!--@Html.Raw(ViewData["listarClientes"]);-->
    <div class="container contact-form">
        <div class="contact-image">
            <img src="~/Images/logo2_r.png" alt="wifi_logo" />
        </div>
        <form>
            <h3>¡Verifique su información!</h3>
            @Html.Raw(ViewData["listarClientes"])
        </form>
    </div>
</div>

