
@{
    ViewBag.Title = "¡Planes!";
}

<div class="container contact-form">
    <div class="contact-image">
        <img src="~/Images/logo2_r.png" alt="wifi_logo" />
    </div>
    <form method="POST" action="/Datos/Guardar" id="formBasico">
        <h3>¡Ingrese sus datos y consulte por nuestros planes!</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" id="run" class="form-control" name="run" placeholder="Run Ej: 17.346.232-8">
                </div>
                <div class="form-group">
                    <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre Ej: Aaaa Bbbb Cccc Dddd">
                </div>
                <div class="form-group">
                    <input type="text" id="fono" class="form-control" name="fono" placeholder="Teléfono Ej: 999999999">
                </div>
                <div class="form-group">
                    <input type="text" id="direccion" class="form-control" name="direccion" placeholder="Dirección Ej: Calle antigua, 432, Concepción">
                </div>
                <div>
                    <label>Plan contratado: </label>
                </div>
                <div class="form-group form-inline">
                    <select id="plan" name="plan" title="plan" class="form-control col-8 mr-1">
                        <option selected disabled>Seleccione un plan de los interneses</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                    </select>
                    <input type="text" id="precio_plan" class="form-control col-3" name="precio_plan" placeholder="$0" readonly="readonly">
                </div>
                <div class="form-group form-inline">
                    <input type="reset" id="limpiar" name="limpiar" value="Limpiar" class="btnContact">
                    <input type="submit" value="Enviar" id="enviar" name="enviar" class="btnContactSubmit">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="comentario" id="comentario" class="form-control" rows="12" placeholder="¡Escríbenos acá tus problemas, dudas o experiencias con nuestros productos!"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    //Evento que envía datos al input
    $('#plan').change(function (e) {
        if ($('#plan').val() == 'S') {
            $('#precio_plan').val('$15.990');
        }
        else if ($('#plan').val() == 'M') {
            $('#precio_plan').val('$19.990');
        }
        else if ($('#plan').val() == 'L') {
            $('#precio_plan').val('$29.990');
        }
        else {
            $('#precio_plan').val('$0');
        }
    });

    //Llamando al botón por id, específicamente al hacer click
    $('#enviar').click(function(e){

        //Validar inputs
        let error = '';
        if($('#run').val().trim() == ''){
            error = 'Run no puede estar vacío\n';
        }
        if($('#nombre').val().trim() == ''){
            error += 'Nombre no puede estar vacío\n';
        }
        if($('#fono').val().trim() == ''){
            error += 'Número de teléfono no puede estar vacío\n';
        }
        if ($('#direccion').val().trim() == '') {
            error += 'Dirección no puede estar vacía\n';
        }
        if($('#plan').val() == null){
            error += 'Seleccione un plan a contratar\n';
        }
        if(error != ''){
            alert(error);
            e.preventDefault();
        }
    });
</script>