
@{
    ViewBag.Title = "¡Planes!";
}

<h2 class="text-center">¡Ingrese sus datos y consulte por nuestros planes!</h2>

<div>
    <form method="POST" action="/Datos/Guardar" id="formBasico">
        <div class="form-inline form-group">
            <label class="col-2 text-right">Run: </label>
            <input type="text" id="run" class="form-control col-10 text-right" name="run" placeholder="Ej: 17.346.232-8"
                   autocomplete="off">
        </div>
        <div class="form-inline form-group">
            <label class="col-2 ">Nombre: </label>
            <input type="text" id="nombre" class="form-control col" name="nombre" placeholder="Ej: Aaaa Bbbb Cccc Dddd">
        </div>
        <div class="form-inline form-group">
            <label class="col-2 ">Teléfono: </label>
            <input type="text" id="fono" class="form-control col" name="fono" placeholder="Ej: 999999999">
        </div>
        <div class="form-inline form-group">
            <label class="col-2 ">Dirección: </label>
            <input type="text" id="direccion" class="form-control col" name="direccion" placeholder="Ej: Calle antigua, 432, Concepción">
        </div>
        <div class="form-inline form-group">
            <label class="col-2 ">Comentario: </label>
            <textarea name="comentario" id="comentario" class="form-control col" rows="1" placeholder="Ej: ¡Los mejores planes los encuentras en los interneses!"></textarea>
        </div>
        <div class="form-inline form-group">
            <label class="col-2 ">Plan contratado: </label>
            <select id="plan" name="plan" title="plan" class="form-control col">
                <option selected disabled>Seleccione un plan de los interneses</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
            <input type="text" id="precio_plan" class="form-control col" name="precio_plan" placeholder="$0" readonly="readonly">
        </div>
        <div class="text-center">
            <input type="reset" id="limpiar" name="limpiar" value="Limpiar" class="btn btn-primary btn-sm">
            <input type="submit" value="Enviar" id="enviar" name="enviar" class="btn btn-success btn-sm">
        </div>
    </form>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>

    $('#plan').change(function (e) {
        if ($('#plan').val() == 'S') {
            $('#precio_plan').val('$15.990');
        }
        else if ($('#plan').val() == 'M') {
            $('#precio_plan').val('$19.990');
        }
        else if ($('#plan').val() == 'L') {
            $('#precio_plan').val('$29.990');
        }
        else {
            $('#precio_plan').val('$0');
        }
    });

    //Llamando al botón por id, específicamente al hacer click
    $('#enviar').click(function(e){

        //Validar inputs
        let error = '';
        if($('#run').val().trim() == ''){
            error = 'Run no puede estar vacío\n';
        }
        if($('#nombre').val().trim() == ''){
            error += 'Nombre no puede estar vacío\n';
        }
        if($('#fono').val().trim() == ''){
            error += 'Número de teléfono no puede estar vacío\n';
        }
        if ($('#direccion').val().trim() == '') {
            error += 'Dirección no puede estar vacía\n';
        }
        if($('#plan').val() == null){
            error += 'Seleccione un plan a contratar\n';
        }
        if(error != ''){
            alert(error);
            e.preventDefault();
        }
    });
</script>